* {
    background-color: #236D73;
}

.h1 {
    color: navy;
}
.button {
    background-color: sienna;
    color: lightseagreen;
    padding: 15px;
    span {
        background-color:transparent;
        color: dodgerblue;
        font-size: 18px;
        font-weight: bold;
    }
}
